<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}Welcome</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% block head %}

    {% endblock head %}
</head>
<body>
<div class="ban-top">
    <div class="ban-top-content">
        2018 Zhuhai International Symposium on Molecular Imaging
    </div>
</div>

<div class="banner">
    <div class="banner-img">
        <img src="/static/images/picture.png" />
    </div>
    <div class="navigator">
        <ul>
            <li><a href="/">Home</a>
                <ul class="navigator-sub">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </li>
            <li><a href="/speaker/">Speakers</a></li>
            <li><a href="#">Programme</a></li>
            <li><a href="/introduction/">Introduction</a></li>
            <li><a href="/sign_in/">Sign up/Sign in</a></li>
        </ul>
    </div>
</div>

{% block body %}

{% endblock body %}

<div class="cashe"></div>
<div class="constant">
    <div class="info">
        <div class="info-content">

            <h1>Contact Us</h1>
            <hr>
            <p>
                Contact：Xiaoqin Zheng<br>
                Phone：+86-158 1274 8023<br>
                E-mail：sysumi_zhuhai@163.com<br>
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            Copyright © 2018 Falesim Ltd. All rights reserved.
        </div>
    </div>
</div>
</body>
</html>