<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}Welcome</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% block head %}

    {% endblock head %}
</head>
<body>
<div class="ban-top">
    <div class="ban-top-content">
        Medical Conference
    </div>
</div>

<div class="banner">
    <div class="banner-img">
        <img src="/static/images/picture.jpg" />
        <div class="logo1">
            <img src="/static/images/logo1.png"/>
        </div>
        <div class="logo2">
            <img src="/static/images/conference.png"/>
        </div>
    </div>
    <div class="navigator">
        <ul>
            <li><a href="/">Home</a>
                <ul class="navigator-sub">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </li>
            <li><a href="/speaker/">Speakers</a></li>
            <li><a href="#">Programme</a></li>
            <li><a href="#">Accommodation</a></li>
            <li><a href="#">Registration</a></li>
        </ul>
    </div>
</div>

{% block body %}

{% endblock body %}

<div class="cashe"></div>
<div class="constant">
    <div class="info">
        <div class="info-content">

            <h1>联系我们</h1>
            <hr/>
            <p>
                联系人：郑晓琴，向韧<br/>
                联系电话：0756-2528613,15812748023，18218939257<br/>
                电子邮箱：sysumi_zhuhai@163.com<br/>
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            Copyright © 2018 Falesim Ltd. All rights reserved.
        </div>
    </div>
</div>
</body>
</html>