
{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}


<div class="container">
<div class="content">
    <div class="content-main">
        <div class="content-item">
            <h1>Introduce</h1>
            <p>
                The cell (from Latin cella, meaning "small room") is the basic structural, functional, and biological unit of all known living organisms. A cell is the smallest unit of life. Cells are often called the "building blocks of life". The study of cells is called cell biology.
            </p>
            <p>
                Cells consist of cytoplasm enclosed within a membrane, which contains many biomolecules such as proteins and nucleic acids. Organisms can be classified as unicellular (consisting of a single cell; including bacteria) or multicellular (including plants and animals). While the number of cells in plants and animals varies from species to species, humans contain more than 10 trillion (1013) cells. Most plant and animal cells are visible only under a microscope, with dimensions between 1 and 100 micrometres.
            </p>
            <p>
                The cell was discovered by Robert Hooke in 1665, who named the biological units for their resemblance to cells inhabited by Christian monks in a monastery. Cell theory, first developed in 1839 by Matthias Jakob Schleiden and Theodor Schwann, states that all organisms are composed of one or more cells, that cells are the fundamental unit of structure and function in all living organisms, that all cells come from preexisting cells, and that all cells contain the hereditary information necessary for regulating cell functions and for transmitting information to the next generation of cells. Cells emerged on Earth at least 3.5 billion years ago.
            </p>
        </div>
        <div class="content-item">
            <h1>Main article: Prokaryote</h1>
            <p>
                Structure of a typical prokaryotic cell
                Prokaryotes include bacteria and archaea, two of the three domains of life. Prokaryotic cells were the first form of life on Earth, characterised by having vital biological processes including cell signaling. They are simpler and smaller than eukaryotic cells, and lack membrane-bound organelles such as a nucleus. The DNA of a prokaryotic cell consists of a single chromosome that is in direct contact with the cytoplasm. The nuclear region in the cytoplasm is called the nucleoid. Most prokaryotes are the smallest of all organisms ranging from 0.5 to 2.0 μm in diameter.

            </p>
        </div>
        <div class="content-item">
            <h1>Introduce</h1>
            <p>
                The cell (from Latin cella, meaning "small room") is the basic structural, functional, and biological unit of all known living organisms. A cell is the smallest unit of life. Cells are often called the "building blocks of life". The study of cells is called cell biology.
            </p>
            <p>
                Cells consist of cytoplasm enclosed within a membrane, which contains many biomolecules such as proteins and nucleic acids. Organisms can be classified as unicellular (consisting of a single cell; including bacteria) or multicellular (including plants and animals). While the number of cells in plants and animals varies from species to species, humans contain more than 10 trillion (1013) cells. Most plant and animal cells are visible only under a microscope, with dimensions between 1 and 100 micrometres.
            </p>
            <p>
                The cell was discovered by Robert Hooke in 1665, who named the biological units for their resemblance to cells inhabited by Christian monks in a monastery. Cell theory, first developed in 1839 by Matthias Jakob Schleiden and Theodor Schwann, states that all organisms are composed of one or more cells, that cells are the fundamental unit of structure and function in all living organisms, that all cells come from preexisting cells, and that all cells contain the hereditary information necessary for regulating cell functions and for transmitting information to the next generation of cells. Cells emerged on Earth at least 3.5 billion years ago.
            </p>
        </div>
        <div class="content-item">
            <h1>Main article: Prokaryote</h1>
            <p>
                Structure of a typical prokaryotic cell
                Prokaryotes include bacteria and archaea, two of the three domains of life. Prokaryotic cells were the first form of life on Earth, characterised by having vital biological processes including cell signaling. They are simpler and smaller than eukaryotic cells, and lack membrane-bound organelles such as a nucleus. The DNA of a prokaryotic cell consists of a single chromosome that is in direct contact with the cytoplasm. The nuclear region in the cytoplasm is called the nucleoid. Most prokaryotes are the smallest of all organisms ranging from 0.5 to 2.0 μm in diameter.

            </p>
        </div>
    </div>
    <div class="advertisment">
        <div class="example">250px*250px</div>
        <div class="example">250px*250px</div>
        <div class="example">250px*250px</div>
    </div>
</div>
</div>

 {% endblock body %}