
{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}


<div class="container">
<div class="content">
    <div class="content-main">
        <div class="content-item">
            <h1>Invitation to the 2018 Zhuhai International Symposium on
Molecular Imaging (ISMI)
</h1>
            <p>
                Dear Colleague,
            </p>
            <p>
                It is my great pleasure to invite you to the 2018 Zhuhai International Symposium on Molecular Imaging that will take place in Zhuhai, Guangdong Province, China from October 26th- 28th, 2018.
            </p>
            <p>
                This symposium is co-hosted by The Fifth Affiliated Hospital of Sun Yat-sen University and the Guangdong Provincial Engineering Research Center of Molecular Imaging, featuring the theme “When Clinics Meet Molecular Imaging” this year.
            </p>
            <p>
                We have invited internationally recognized experts in molecular imaging and related fields from all over the world to discuss the application of molecular imaging in basic research and clinical applications. It will be delighting to have you present at this symposium to share the advancements in the related field. Travel fares and accommodations are complimentary for the dates of attendance.

            </p>
            <p>
                Warmest Regards
            </p>
            <img src="/static/images/HongShu.png">
            <p>
                Hong Shan, M.D., Ph.D.
                <br>President, Zhuhai ISMI
                <br>The Fifth Affiliated Hospital of Sun Yat-sen University
                <br>Guangdong Provincial Engineering Research Center of Molecular Imaging

            </p>
        </div>
    </div>
    <div class="advertisment">
        <div class="example">250px*250px</div>
        <div class="example">250px*250px</div>
        <div class="example">250px*250px</div>
    </div>
</div>
</div>

 {% endblock body %}