
{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}


<div class="container">
<div class="content">
    <div class="content-main">
        <div class="content-item">
            <h1>欢迎参加第二届珠海国际分子影像研讨会（ISMI 2018）</h1>
            <p>
                由中山大学附属第五医院、广东省分子影像工程技术研究中心共同举办的第二届珠海国际分子影像研讨会（ISMI 2018）定于2018年10月27日-28日在南中国美丽的海滨城市——广东珠海召开，本次会议的主题是：“临床医学携手分子影像(When Clinical Medicine Meets Molecular Imaging)。”届时，国内外从事分子影像相关工作的科研人员、临床医生、技术人员、管理人员以及研究生将参加本次会议，与来自美国、加拿大、比利时、新加坡及中国国内的顶级专家共同探讨分子影像在基础研究和临床中的应用。
            </p>
            <p>
                我们诚挚邀请您莅临本次会议。现将会议有关事项通知如下：
            </p>
            <h2>活动安排：</h2>
            <p>
                10月26日（星期五）14：00-22：00 报到注册、会前会、参观、晚餐
            </p>
            <p>
                10月27日（星期六） 8：30-18：00 开幕式、会议 18：00-20：00 晚宴
            </p>
            <p>
                10月28日（星期日） 8：30-18：30 会议、参观、闭幕式、撤离
            </p>
            <h2>大会主席:</h2>
            <p>
                单鸿（中山大学附属第五医院院长、广东省分子影像工程技术研究中心主任）
            </p>
            <h2>
                大会学术指导委员会：
            </h2>
            <p>
                唐本忠（香港科技大学，院士）
                <br>田  捷（中国科学院自动化研究所）
                <br>滕皋军	（东南大学）
                <br>马  骏	（中山大学）
                <br>王玉琢	（加拿大不列颠哥伦比亚大学）
                <br>陈小元（美国国立卫生研究院）
                <br>张  宏	（浙江大学）
                <br>郑海荣	（中国科学院深圳先进技术研究院）
                <br>高明远	（中国科学院化学研究所）
                <br>黄  曦	（中山大学）
                <br>康铁邦	（中山大学）

            </p>


            <h2>主办单位：中山大学附属第五医院、中山大学中山医学院、<br>广东省医学会放射医学分会</h2>
            <h2>承办单位：广东省分子影像工程技术研究中心</h2>
        </div>
    </div>
    <div class="advertisment">
        <div class="example">250px*250px</div>
        <div class="example">250px*250px</div>
        <div class="example">250px*250px</div>
    </div>
</div>
</div>

 {% endblock body %}