{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}
    <div class="container">
        <div class="content">
            <div class="content-main">
                <div class="acco-img">
                    <img src="/static/images/wuyuan.png"/>
                </div>
                <div class="content-item">
                    <h3>The Fifth Affiliated Hospital of Sun Yat-Sen University</h3>
                    <p>The Fifth Affiliated Hospital of Sun Yat-Sen University (SYSU) is a large-scale 3A comprehensive hospital integrated with health care, education and scientific research, and is also the only affiliated hospital of SYSU on the west side of the Pearl River estuary. It is located in Zhuhai, the most livable city in China, which boasts elegant and tranquil environment and convenient transportation thanks to its proximity to Hong Kong and Macao as well as the nearby ports and international airports. It is a1500-bedhospital that covers a total area of 220,000 m2 with a construction area of 152,000 m2.</p>
                    <p>Relying on the vigorous support of Sun Yat-Sen University and the Zhuhai Municipal Government, the hospital enjoys an enviable reputation in cities on the west side of the Pearl River estuary with a wide range of disciplines, strong technical strength, prominent characteristics of specialties, and the advantage of covering multiple disciplines. It has eminent advantages in the region in disciplines including infectious diseases, oncology and interventional medicine and other general disciplines as well as general surgery, renal medicine, cardiovascular medicine, respiratory medicine, and otorhinolaryngology. The medical high-techprograms and unique specialty services launched by the hospital have attracted a large number of patients from Hong Kong, Macao and the surrounding area. The hospital is the fixed unit for international medical aid and also the only designated treatment unit in Zhuhai for many foreign embassies and consulates.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}