{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
    $(function () {
        if('{{ message }}'){
            alert('{{ message }}');
        }

        if({{ check }} == '1'){
            $('#pwd').next().html('incorrect email or password')
            $('#pwd').next().show()
        }

    })
    </script>

{% endblock head %}

{% block body %}
    <a href="/sign_up/">create a new account</a>
    <form action="/handle_sign_in/" method="post">
    {% csrf_token %}
        <ul>
            <li>
                <label>email address</label>
                <input type="text" name="email" value='{{ email }}' id="email">
            </li>
            <li>
                <label>password</label>
                <input type="password" name="pwd" id="pwd">
                <span class="error_tip">error</span>
            </li>
        </ul>
        <input type="submit" value="Login" name="submit"/>

    </form>
{% endblock body %}