{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
    $(function () {
        if('{{ message }}'){
            alert('{{ message }}');
        }
    })
    </script>

{% endblock head %}

{% block body %}
    <a href="/sign_up/">create a new account</a>
    <from action="" method="post">
    {% csrf_token %}
        <ul>
            <li>
                <label>email address</label>
                <input type="text" name="email" id="email">
            </li>
            <li>
                <label>password</label>
                <input type="password" name="pwd" id="pwd">
            </li>
        </ul>
        <input type="submit" value="Login" name="submit"/>

    </from>
{% endblock body %}