{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}

    <div class="container">
    <div class="content">
        <div class="content-main">
            <div class="content-item">
                <h1>Keynotes Speaker (in alphabetical order)</h1>
                <div class="small-item">
                    <div class="profile">

                    </div>
                    <div class="introduction">
                        <h1>Vikey YU</h1>
                        <p>
                            Associate Professor / CRUK Clinician Scientist Fellow<br/>
                            Wellcome Trust Centre for Human Genetics<br/> 
                            The University of China
                        </p>
                    </div>
                </div>
                <div class="small-item">
                    <div class="profile">

                    </div>
                    <div class="introduction">
                        <h1>Vikey YU</h1>
                        <p>
                            Associate Professor / CRUK Clinician Scientist Fellow<br/>
                            Wellcome Trust Centre for Human Genetics<br/> 
                            The University of China
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <h1>Keynotes Speaker (in alphabetical order)</h1>
                <div class="small-item">
                    <div class="profile">

                    </div>
                    <div class="introduction">
                        <h1>Vikey YU</h1>
                        <p>
                            Associate Professor / CRUK Clinician Scientist Fellow<br/>
                            Wellcome Trust Centre for Human Genetics<br/> 
                            The University of China
                        </p>
                    </div>
                </div>
                <div class="small-item">
                    <div class="profile">

                    </div>
                    <div class="introduction">
                        <h1>Vikey YU</h1>
                        <p>
                            Associate Professor / CRUK Clinician Scientist Fellow<br/>
                            Wellcome Trust Centre for Human Genetics<br/> 
                            The University of China
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <h1>Keynotes Speaker (in alphabetical order)</h1>
                <div class="small-item">
                    <div class="profile">

                    </div>
                    <div class="introduction">
                        <h1>Vikey YU</h1>
                        <p>
                            Associate Professor / CRUK Clinician Scientist Fellow<br/>
                            Wellcome Trust Centre for Human Genetics<br/> 
                            The University of China
                        </p>
                    </div>
                </div>
                <div class="small-item">
                    <div class="profile">

                    </div>
                    <div class="introduction">
                        <h1>Vikey YU</h1>
                        <p>
                            Associate Professor / CRUK Clinician Scientist Fellow<br/>
                            Wellcome Trust Centre for Human Genetics<br/> 
                            The University of China
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock body %}